<h1>Welcome to the game rock, paper, scissors</h1>

<p>To play the game you pick one of rock, paper or scissors. Your opponent also chooses. </p>
<p>Rock beats scissors but loses to paper.</p>
<p>Scissors beats paper but loses to rock.</p>
<p>Paper beats rock but loses to scissors.</p>
